<dash-navbar></dash-navbar>
<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          routerLink="/dashboard/recruiter-job-offers"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-black hover:text-white dark:hover:bg-gray-700 group"
        >
          jobOffers
        </a>
      </li>
      <li>
        <a
          routerLink="/dashboard/recruiter-submissions"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-black hover:text-white dark:hover:bg-gray-700 group"
        >
          Submission
        </a>
      </li>
      <li>
        <a
          routerLink="/dashboard/recruiter-statistics"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-black hover:text-white dark:hover:bg-gray-700 group"
        >
        Statistics
        </a>
      </li>

    </ul>
  </div>
</aside>
<div class="p-4 sm:ml-64">
  <div
    class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14 "
  >
    <div class="grid gap-4 mb-4 ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

